table{border-collapse: collapse;}
tablr tr{padding:15px;}
table tr:hover{background:#eee;}
table tr img{border:0; width:16px; height:16px;}
table tr td {padding:0 10px; 
    color:#aaa;
    text-overflow: ellipsis;
}
table tr a{color: #00a; text-decoration: none;
    min-width: 50px;
    display: inline-block;
}
table tr a:hover{text-decoration:underline;}

table tr th{color:#999; font-size:80%;}

.btn{
    color: red;
    background: white;
    padding: 2px 5px;
    text-decoration: none;
	border-radius:3px;
}

.btn:hover{
	color: white;
    background: red;
}
h4.root a{font-weight:bold; text-decoration:none;}
h4.root a:hover{color:red; text-decoration:underline;}

.form{border:1px solid #eee; padding:10px 20px;}