/*
* style like Ubuntu(https://packages.ubuntu.com/search?keywords=openssl) and RStudio server.
* https://packages.ubuntu.com/search?keywords=openssl
*/

body{
		background-color: #F4F8F9; 
		background-image:url(/static/images/background-dots.png);
}

div,p,h1,h4{margin:0; padding:0;}
table{border-collapse: collapse;}
tablr tr{padding:15px;}
table tr:hover{background:#eee;}
table tr img{border:0; width:16px; height:16px;}
table tr td {padding:0 10px; 
    color:#aaa;
    text-overflow: ellipsis;
}
table tr a{color: #00a; text-decoration: none;
    /*min-width: 50px;*/
    display: inline-block;
}
table tr a:hover{text-decoration:underline; color:#DD4814;}

table tr th{color:#999; font-size:80%;}



.btn{
    color: red;
    background: white;
    padding: 2px 5px;
    text-decoration: none;
	border-radius:3px;
}
.btn:hover{
	color: white;
    background: red;
}

h4.root{background:rgb(244, 248, 249); border: 1px solid #d6dadc;padding:0 5px;}
h4.root a{ color:#000; font-weight:bold; text-decoration:none;}
h4.root a:hover{color:#DD4814; text-decoration:underline;}
h4.root span{ border-right:1px solid #d6dadc; padding:0 5px;}
h4.root span a{background:#FFd8d9; color:red; padding:0px 3px; border-radius:5px;}
h4.root span a:hover{background:#f00;color:white;}

.wrap{padding:10px 20px; width:80%; min-width:600px; margin:0 auto;}
fieldset{border: 1px solid #E7E8EA;  background:#fff;}

.footer, .footer a{color:#ccc;}
.footer a:hover{color:#DD4814;}

#root{color:red;}


.fileBox{
	border: 1px dashed #eee;
	padding: 10px 2px;
    color: #ccc;
	background:white;
    text-align: center;
}
.fileBoxEnter{border-color:red!important; background:#FFFFE7;}